@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");

body{
	padding: 0;
	margin: 0;
	background: rgba(0, 0, 0, 0.5);
}
h2{
  color:white;
  font-family:sans-serif;
}
.middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
.mail-box{
	background-color: #f1f1f1;
	width: 30vw;
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1vh;
}

.contact-boxes{
	/* background-color: black; */
	display: flex;
	justify-content: center;
}

.mail-box i{
	margin-top: 1vh;
	color: black;
	font-size: 4vh;
}

.heading-contact{
	display: flex;
	justify-content: center;
	align-items: center;
}


.btn {
	display: inline-block;
	width: 90px;
	height: 90px;
	background-color: #f1f1f1;
	margin: 10px;
	border-radius: 50%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #3498db;
	overflow: hidden;
	position: relative;
}

.btn i {
	line-height: 90px;
	font-size: 36px;
	transition: 0.2 linear;
}
.btn:hover i {
	transform: scale(1.3);
	color: #f1f1f1;
}
.btn::before{
content: "";
position: absolute;
width: 120%;
height: 120%;
background-color: #3498db;
transform: rotate(45deg);
left: -110%;
top: 90%;
}
.btn:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}
.youtube:hover::before{
	background: #3b5999;
}
.facebook:hover::before{
	background: black;
}
.instagram:hover::before{
	background: #e4405f;
}
.google:hover::before {
	background: #dd4b39;
}

@keyframes aaa {
	0%{
		left: -110%;
		top: 90%;
	}
	50%{
		left: 10%;
		top: -30%
	}
	100%{
		top: -10%;
		left: -10%;
	}
}

@media screen and (max-width: 980px){

	.contact-boxes{
		margin-bottom: 15vh;
	}

	.middle {
		margin-top: 10vh;
	}

	.mail-box{
		width: 80vw;
	}

}