.about-section{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 80vw;
    height: 50vh;
    margin: 10vh;
}

.portfolio-pic{
    border-radius: 50%;
    max-width: 75%;
}