.about-section{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: auto;
    height: 80vh;
    /* margin: 10vh; */
    justify-content: center;
    align-items: center;
}

.portfolio-pic{
    border-radius: 50%;
    max-width: 75%;
}

.about-content{
    display: flex;
    flex-direction: row;
    margin: 3vh;

}

.button-cv{
    background-color: white;
    text-decoration: none;
    width: 9vw;
    height: 5vh;
    color: black;
    font-size: 3vh;
    border: cadetblue;
    border-width: 2px;
    border-radius: 2vh;
    padding: 1.5vh;
    border-style: solid;
    
}

.resume{
    margin-top: 4vh;
}