@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body{
	padding: 0;
	margin: 0;
	background: rgba(0, 0, 0, 0.5);
}

.project{
    background-color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  position: relative;
  overflow: hidden; 
  width:300px;
}

.project img{
    max-width: 100%;
    cursor: pointer;
  }

.project p{
    margin: 1vh;
}

.project a{
    text-decoration: none;
    color: black;
    
}
.buttons{
    display: flex;
    flex-direction: row;
    column-gap: 5vh;
    margin-left: 2vh;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}
.skill-row{
    display: flex;
    flex-direction: row;
    column-gap: 2vh;
    margin-left: 2vh;
}

.skill{
    color:black;
    /* background-color: blueviolet; */
}

.title{
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 2.7vh;
    font-family: "Poppins",sans-serif;
}

.description{
    color: black;
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin: 2vh;
    font-family: "Poppins",sans-serif;

}

.skill-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.techstack{
    color:cadetblue;
    font-weight: bold;
}

.buttons a{
    border: cadetblue;
    border-width: 2px;
    border-radius: 2vh;
    padding: 1.5vh;
    border-style: solid;
}